/*Made by your boy Jon Yen - 2/25/2018*/
@import url('https://fonts.googleapis.com/css?family=Merriweather'); 
/*General HTML elements*/
body{
	background-color: #ff9900;
}

img{
	max-width: 100%;
	height: auto;
	width: 350px;
}

nav li{
	list-style-type: none;
}

footer{
	text-align: center;
}

/*classes*/
.float-left{
	float: left;
}

.myname{
	/*font-family: Futura, Calibri, sans-serif;
	font-size: 2em; */
    font-family: 'Merriweather', serif;
    font-size: 220%;

}

.italics{
	font-style: italic;
}

/*Used on Education (How'd J-money get smart) page, line 24-26
Contact (da boi), line 48-50 & 30-32*/
.mobile{
	display: block;
}

/*Used on contact (Da boi), line 34-41*/
.tablet{
	display: none;
}

/*Used on Education (How'd J-money get smart) page, line 28-30
contact (da boi) line 26-28, 40-47*/
.desktop{
	display: none;
}

/*IDs*/
#outerwrapper{
	width: 100%;
	margin: 0 auto 0 auto;
}

#main{
	clear: both;
	background-color: #ff3333;
	padding: 3%;
	border: 0.5em black solid;
	border-radius: 10px;
}

/************media query for TABLET viewport ~ 660px. **********/

@media only screen and (min-width: 660px){

	/* Makes nav links go side-to-side now*/
nav li{
	display: inline;
	}
	
	/* hides the mobile stuff*/
	.mobile{
		display: none;
	}
	
	/*shows tablet stuff */
	.tablet{
		display: inline;
	}
	
	/*makes visible buttons for tablet*/
	nav li{
		border-radius: 0.5em;
		border-top: solid #ffffff;
		border-bottom: solid #ffffff;
		width: 20%;
	}
	
	/*Orders the list for tablet*/
	
	
}

/*************media query for DESKTOP ~ 830px ***************/

@media only screen and (min-width: 830px){
	
	/*width for the main paragraph*/
	#main{
		width: 90%;
	}
	
	/*margin & padding config for the unordered list nav*/
	nav ul{
		margin: 0.5em;
		padding-left: 1%;
		padding-right: 1%;
	}
	
	/*makes the best nav buttons for desktop*/
	nav li{
		border-radius: 1.5em;
		border-top: solid #000000;
		border-bottom: solid #000000;
		width: 25%;
	}
	
	/*Stylin' display n padding elements of the nav section*/
	nav li a{
		display: inline-block;
		padding: 1em;
	}
	
	/*pseudo-classes*/
	nav li a:link{
		color: #FFFFFF;
	}
	
	nav li a:visited{
		color: #800000;
	}
	
	nav li a:hover{
		color: #4d4dff;
		font-style: oblique;
	}
	
	nav li a:active{
		color: #ff9900;
	}
	
	/*Style specifies border, box shadow, and margins for the main element*/
	main{
		border-style: none;
		box-shadow: 0.5em 0.5em 0.5em #404040;
		margin-bottom: 1em;
		margin-top: 1em;
	}
	
	/*Gradient background*/
	body{
		background: -moz-linear-gradient(#ffffff, #ff9900); /*Firefox*/
		background: -o-linear-gradient(#ffffff, #ff9900); /*Opera*/
		background: -webkit-linear-gradient(#ffffff, #ff9900); /*Chrome, Safari*/
		background: linear-gradient(#ffffff, #ff9900);
		background-attachment: fixed;
	}
	
	.desktop{
		display: inline;
	}
	
	.mobile{
		display: none;
	}
	
	.tablet{
		display: inline;
	}
	
}